@import "../../../global.scss";

.portfolio-pages {
    font-size: clamp(16px, 1.3vw, 34px);
    padding: 5px 13px;
    border-radius: 40%;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: .5s;
    margin: 0 4px;

    &.active {
        animation: moveCircles 2.5s both infinite;
        background-color: $darkBrown;
        color: $darkYellow;
    }

    &:hover:not(.active) {
        animation: moveInactiveCircles 2.5s both alternate infinite;
        background-color: $darkYellow;
        color: $darkBrown;
    }
}

.portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        width: max-content;
        height: 70px;
        position: relative;
        top: -15px; // modificado
        z-index: 27; // modificado
        margin-top: 5px; // modificado
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 1s;

        &.open {
            transform: translateX(-55%);
        }
    }

    .card-container {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;

        h4 {
            position: absolute;
            z-index: 26; // modificado
            top: 0; // modificado
            font-size: clamp(14px, 1.7vw, 50px);
            transition: transform 1s;

            &.open {
                transform: translateX(-200px);
            }
        }

        .card-item {
            width: clamp(350px, 40%, 47vw); // !! modificado
            margin: 0 5px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            // flex-grow: 1

            overflow: hidden;

            transition: transform 1s;

            @include mobile {
                min-width: 90%;
            }

            > * {
                transition: opacity .35s linear;
            }

            span {
                position: absolute;
                z-index: 22;
                user-select: none;
                font-weight: 700;
                color: $darkBrown;
                font-size: clamp(20px, 2.2vw, 60px);
                font-family: 'Coolvetica';
                opacity: 1;
            }

            img {
                width: 100%;
                opacity: .3;
                border: .15vw solid #bbb;
            }

            &:hover span {
                opacity: 0;
            }

            &:hover img {
                opacity: .95;
            }

            &.open {
                transform: translateX(-25%) scale(.5);
            }

            &.modal-open {
                img {
                    opacity: .92;
                }
            }
        }
    }

    &:target {
        ul:not(.stack) {
            animation: showCircles 1.1s forwards linear, turnOn .6s linear;
        }

        .card-container {
            .card-item {
                span {
                    animation: turnOn .5s linear both;
                }

                img { 
                    animation: turnOn 1s linear both;
                }
            }
        }
    }
}


@keyframes moveCircles {

    0%,
    100% {
        border-radius: 40% 50% 70% 30% / 40% 40% 55% 50%;
    }

    33% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    66% {
        border-radius: 100% 55% 55% 100% / 100% 100% 55% 55%;
    }
}

@keyframes moveInactiveCircles {

    0%,
    100% {
        border-radius: 20% 70% 50% 50% / 30% 30% 75% 40%;
    }

    33% {
        border-radius: 40% 10% 20% 20% / 50% 50% 20% 80%;
    }

    66% {
        border-radius: 40% 85% 85% 40% / 90% 90% 35% 35%;
    }
}

@keyframes showCircles {
    0% {
        opacity: .1;
    }

    100% {
        
        opacity: 1;
    }
}

@keyframes turnOn {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}